<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
<header>
    <div class="contenido-header">
        <div class="contentLogoSerch">
            <img src="/img/logo-mercado-liebre.svg" alt="" class="logo-mercado-liebre">
            <form class="contentSearch" action="">
                <input type="text" placeholder="buscar producto, marca">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="contentCuotas">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>compra en cuotas y sin tarjeta de credito</p>
        </div>
    </div>
    <nav>
        <div class="contenidoNav">
            <ul>
                <li><a href="">ofertas</a></li>
                <li><a href="">tiendas oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a></li>
            </ul>
        </div>

        <div class="contenidoNav">
            <ul>
                <li><a href="/register">crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">tu compra</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

<div class="contenido-banner">
    <img src="img/img-home-banner.jpg" alt="" width="100%">
</div>

<main>
    <h3>Basado en su ultima vista</h3>
    <section class="ultimaVista">
        <article class="articulo">
            <img src="img/img-cafetera-moulinex.jpg" alt="">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$6.770</p>
                        <p class="off">40% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>Cafetera Moulinex</p>
                </div>
            </div>
        </article>

        <article class="articulo">
            <img src="img/img-macbook-pro-2019.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$230.000</p>
                        <p class="off">20% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>MacBook</p>
                </div>
            </div>
        </article>

        <article class="articulo">
            <img src="img/img-tv-samsung-smart.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$23.200</p>
                        <p class="off">5% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>SmartTv Samsung 43"</p>
                </div>
            </div>
        </article>

        <article class="articulo">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$70.500</p>
                        <p class="off">10% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>Samsung Galaxy S10</p>
                </div>
            </div>
        </article>
    </section>
    <h3>Seccion en oferta</h3>
    <section class="ultimaVista">
        <article class="articulo">
            <img src="img/img-cafetera-moulinex.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$6.770</p>
                        <p class="off">40% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>Cafetera Moulinex</p>
                </div>
            </div>
        </article>

        <article class="articulo">
            <img src="img/img-macbook-pro-2019.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$230.000</p>
                        <p class="off">20% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>MacBook</p>
                </div>
            </div>
        </article>

        <article class="articulo">
            <img src="img/img-tv-samsung-smart.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$23.200</p>
                        <p class="off">5% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>SmartTv Samsung 43"</p>
                </div>
            </div>
        </article>

        <article class="articulo">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="" width="100%">
            <div class="detalles">
                <div class="info">
                    <div class="send"><i class="fa-solid fa-truck"></i></div>
                    <div class="price">
                        <p class="prices">$70.500</p>
                        <p class="off">10% off</p>
                    </div>
                </div>
                <div class="name">
                    <p>Samsung Galaxy S10</p>
                </div>
            </div>
        </article>
    </section>
</main>
<footer>
    <div class="contenido-footer">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Paga con tarjera o efectivo</h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </div>

    <div class="contenido-footer">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>

    <div class="contenido-footer">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </div>
    <div class="contenido-footer contenido-footer-modify">
        <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/24faa51053.js" crossorigin="anonymous"></script>
</body>
</html>