<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
<header>
    <div class="contenido-header">
        <div class="contentLogoSerch">
            <img src="/img/logo-mercado-liebre.svg" alt="" class="logo-mercado-liebre">
            <form class="contentSearch" action="">
                <input type="text" placeholder="buscar producto, marca">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="contentCuotas">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>compra en cuotas y sin tarjeta de credito</p>
        </div>
    </div>
    <nav>
        <div class="contenidoNav">
            <ul>
                <li><a href="">ofertas</a></li>
                <li><a href="">tiendas oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a></li>
            </ul>
        </div>

        <div class="contenidoNav">
            <ul>
                <li><a href="">crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">tu compra</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
<main class="form">
    <form class="form-register" action="/register" method="POST">
        <input type="text" name="nombreApellido" id="nombreApellido" value="Nombre y apellido">
        <input type="text" name="nombreUsuario" id="nombreUsuario" value="Nombre de usuario">
        <input type="text" name="email" id="email" value="email">
        <h3>
            fecha de nacimiento
        </h3>
        <input type="date" name="fecha" id="fecha">
        <input type="text" name="domicilio" id="domicilio" value="domiciolio">
        <h3>
            perfil de usuario
        </h3>
        <div class="contentUser">
            <div class="perfilUser">
                <input type="radio" name="comprador" id="comprador">
                <label for="comprador">comprador</label>
            </div>
            <div class="perfilUser">
                <input type="radio" name="comprador" id="vendedor">
                <label for="vendedor">venderdor</label>
            </div>
        </div>
        <h3>
            intereses
        </h3>
        <div class="intereses">
            <input type="checkbox" name="electro" id="electro">
            <label for="electro">electro</label>
        </div>
        <div class="intereses">
            <input type="checkbox" name="moda" id="moda">
            <label for="moda">moda</label>
        </div>
        <div class="intereses">
            <input type="checkbox" name="hogar" id="hogar">
            <label for="hogar">hogar</label>
        </div>
        <div class="intereses">
            <input type="checkbox" name="jugueteria" id="jugueteria">
            <label for="jugueteria">jugueteria</label>
        </div>
        <div class="intereses">
            <input type="checkbox" name="vidaSana" id="vidaSana">
            <label for="vidaSana">vida sana</label>
        </div>
    </form>
</main>

<footer>
    <div class="contenido-footer">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Paga con tarjera o efectivo</h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </div>

    <div class="contenido-footer">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>

    <div class="contenido-footer">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </div>
    <div class="contenido-footer contenido-footer-modify">
        <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/24faa51053.js" crossorigin="anonymous"></script>
</body>
</html>